<div class="container"
<h1>Edit your listing</h1>

<form action="/listings/<%= @listing_id %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label for="name">Location name</label>
  <input type="text" name="name" value="<%= @listing.name %>" required>
  <label for="price">Price per night</label>
  <input type="text" name="price" value="<%= @listing.price %>" required>
  <label for="description">Description</label>
  <textarea name="description" rows="8" cols="40"><%= @listing.description %></textarea>
  <label for="url">Add pictures</label>
  <input type="url" name="url" value="<%= @listing.pictures.first['url'] %>" required>
  <input type="submit" name="" value="Update">
</form>
</div>

<style>
.container {
  margin: 50px;
  margin-right: 1250px;
    text-align: center;
    width: 400px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    border-radius: 10%;
    opacity: 0.8;
    color: black;
    text-shadow: 1px 1px 1px #FFF;
    height: 500px;
    font-size: 14px;
}

body {
  background-image: url("/images/cottage.png");
}

#button {
  color: white;
  background: grey;
  width: 70px;
  height: 50px;
  font-size: 14px;
}
</style>