<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Holiday Lets, Homes, Experiences &amp; Places - Makersbnb</title>
</head>
<body>

<div class="container">
  
  <h1> <%= @listing.name %></h1>
    <p>Description:
      <%= @listing.description %>
    </p>
    <p>Price:
      £<%= @listing.price %>
    </p>
    <p>Available from 
      <% @unicorn.each do |x| %>
        <%=  x["date_start"] %>
      <% end %> to
      <% @unicorn.each do |x| %>
        <%=  x["date_end"] %>
      <% end %>
    </p>


    <p><a href="mailto:<%= @user.email %>">More questions? </a></p>

     <form action="/booking/<%= @listing.id %>/book" method="get">
     <input id="button" type="submit" value="Book"/><br></br>
     </form>

    </p>

      <img src="<%= @listing.pictures.first['url'] %>" width="200" alt="">
</div>
<style>

.container {
  margin: 50px;
  margin-right: 1250px;
    text-align: center;
    width: 400px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    border-radius: 10%;
    opacity: 0.8;
    color: black;
    text-shadow: 1px 1px 1px #FFF;
    height: 500px;
    font-size: 14px;
}

#button {
  color: white;
  background: grey;
  width: 100px;
  height: 50px;
}


body {
  background-image: url("/images/cottage.png");
}

</style>
</body>
</html>