<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Holiday Lets, Homes, Experiences &amp; Places - Makersbnb</title>
</head>
<body>

    <div class="container">

    <% if User.current_user %>
    <a href="/users/<%= User.current_user.username %>/user"><p>My Account</p></a>
  <% end %>

    <h1>Welcome to MakersBnB</h1>
      <%= flash[:welcome_user] %>

    <% if User.current_user == nil %>

    <form id="signup" action="/signup">
      <input type="submit" name="" value="Sign Up">
    </form>

    <form id="signin" action="/sessions/new">
      <input type="submit" name="" value="Sign In">
    </form>

    <% else %>
    <h3><%= User.current_user.username %></h3><br></br>
    <form id="button" action="/sessions/destroy" method="post">
      <input id="button" type="submit" name="" value="Sign Out"><br></br>
    </form>

    <form id="button" action='/listings/new'>
      <input id="button" type="submit" value="Add Listing"/><br></br>
    </form>

    <% end %>

    <%= flash[:notice] %>
    <p>
        <% @listings.each do |listing| %>
          <p class="listing" id="listing-<%= listing.id %>>
            <div class="">
            <center>
              <%= listing.name %> <br></br> <%= listing.description %> <p>£<%= listing.price %>
              <% listing.pictures.each do |picture| %>
                <img src="<%= picture['url'] %>" alt="">
              <% end %>
              <form action="/listings/<%= listing.id %>/show" method="get">
                <input type="submit" value="View" />
              </form>
              </center>
            </div>
          </p>
        <% end %>
    </p>
  <style>


  .container {
    margin: 50px;
    margin-right: 1250px;
      text-align: center;
      width: 400px;
      background: #F7F7F7;
      padding: 25px 15px 25px 10px;
      border-radius: 10%;
      opacity: 0.8;
      color: #888;
      text-shadow: 1px 1px 1px #FFF;
      height: 550px;
      font-size: 14px;
  }

</style>
</div>
</body>
</html>
