<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Holiday Lets, Homes, Experiences &amp; Places - Makersbnb</title>
</head>
<body>

    <div class="container">

    <% if User.current_user %>
    <a href="/users/<%= User.current_user.username %>/user"><p>My Account</p></a>
  <% end %>

    <h1>Welcome to MakersBnB</h1><br>
      <%= flash[:welcome_user] %>

    <% if User.current_user == nil %>

    <form id="signup" action="/signup">
      <input id="button" type="submit" name="" value="Sign Up"><br>
    </form>

    <form id="signin" action="/sessions/new">
      <input id="button" type="submit" name="" value="Sign In">
    </form>

    </center>

    <% else %>

    <center>
    <h3><%= User.current_user.username %></h3>
    <form id="button" action="/sessions/destroy" method="post">
      <input id="button" type="submit" name="" value="Sign Out">
    </form>

    <form id="button" action='/listings/new'>
      <input id="button" type="submit" value="Add Listing"/>
    </form>

    <% end %>

    <%= flash[:notice] %>
    <p>
        <% @listings.each do |listing| %>
          <p class="listing" id="listing-<%= listing.id %> >
            <div class="innerContainer">
              <%= listing.name %> <br></br> <%= listing.description %> <p>£<%= listing.price %></p>
              <% listing.pictures.each do |picture| %>
                <img src="<%= picture['url'] %>" alt=""/>
              <% end %>
              <form action="/listings/<%= listing.id %>/show" method="get"/>
                <input id="button" type="submit" value="View" />
              </form>
            </div>
        <% end %>
    </p>
  <style>

   #button {
     text-align: center;
     color: white;
     background: grey;
     width: 100px;
     height: 50px;
   }

  .container {
    margin: 50px;
    margin-right: 1250px;
      text-align: center;
      width: 400px;
      background: #F7F7F7;
      padding: 25px 15px 25px 10px;
      border-radius: 10%;
      opacity: 0.8;
      color: #888;
      text-shadow: 1px 1px 1px #FFF;
      height: 570px;
      font-size: 14px;
  }

  body {
    background-image: url("../images/cottage.png");
  }

</style>
</div>
</body>
</html>
